body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(245, 210, 165);
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    width: 10%;
}
.login-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #FFE1A8;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}