@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

:root {
    --cor-fundo: #F8F0E2;
    --cor-primaria: rgb(146, 15, 15); /* Alterado aqui */
    --cor-texto:  rgb(146, 15, 15);
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hina Mincho', serif;
    background: var(--cor-fundo);
    color: var(--cor-texto);
}
html {
  scroll-behavior: smooth;
}


.section-padrao {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#BoasVindas {
    font-size: 1.5em;
}

.scroll-mouse {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.mouse {
    width: 26px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    position: relative;
    background: rgba(0,0,0,0.15);
    margin-bottom: 8px;
}

.wheel {
    width: 6px;
    height: 14px;
    background: #cfcfcf;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 14px;
    transform: translateX(-50%);
    animation: wheelMove 1.5s infinite;
    opacity: 0.8;
}

@keyframes wheelMove {
    0% { top: 14px; opacity: 0.8; }
    50% { top: 32px; opacity: 0.3; }
    100% { top: 14px; opacity: 0.8; }
}

.section-full {
    position: relative;
    flex-direction: column;
    color: var(--cor-fundo);
}

.section-full h1 {
    font-size: 3em;
    z-index: 1;
}

#SaoJudas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(45%);
}

#HomePG2 .linha {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color:  rgb(146, 15, 15);
    padding: 5%;
}

.itens-esquerda {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.itens-esquerda h1 {
    font-size: 4em;
}

.links-sociais {
    display: flex;
    gap: 20px;
}

.linha {
    width: 100%;
    min-height: 100dvh;
    padding: 5%;
    background: var(--cor-fundo);
}

.links-sociais a {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    background: var(--cor-primaria);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.links-sociais a:hover {
    background: #501717;
}

#HomePG3 .linha {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;

}

#HomePG3 h1 {
    font-size: 3em;
}

#HomePG3 p {
    font-size: 1.5rem;
}

#HomePG3 #video {
    width: 70%;
    height: 70vh;
    border-radius: 12px;
}

#HomePG4 .linha {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10%;
}

#HomePG4 h1 {
    font-size: 3em;
}

#HomePG4 p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

/* HomePG5 - estilo igual ao HomePG2 */
#HomePG5 .linha {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5%;
}

#HomePG5 .itens-direita {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

#HomePG5 .itens-direita h1 {
    font-size: 3em;
}

#HomePG5 .itens-direita p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    margin-top: 20px;
}

#HomePG5 .img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
    filter: brightness(85%);
}


.liturgia-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background: var(--cor-primaria);
    color: var(--cor-fundo);
    border-radius: 8px;
    
    text-align: left;
}
#HomePG6 .linha{
    padding: 8%;
    
}
#HomePG6 .linha h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.liturgia-container h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.liturgia-container #titulo  {
    text-align: center;
}
.liturgia-container p{
    font-size: 1.5rem;
}
/* --------- Seção QRCode --------- */
.section-padrao {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.qrcode-section {
    width: 100%;                 
    min-height: 100vh;          
    display: block;              
    padding: 5%;
    text-align: left;            
    background: var(--cor-fundo);         
}

.qrcode-section .qrcode-linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}


.qrcode-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.qrcode-texto h2 {
    font-size: 3rem;
    color: var(--cor-primaria);
}

.qrcode-texto p {
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: justify;
    color: var(--cor-primaria);
}

.qrcode-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin-bottom: 10px;
}
.qrcode-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    background: var(--cor-primaria);
    color: var(--cor-fundo);
    border-radius: 18px;
}
.qrcode-container p{
    font-size: 1.5rem;
}
.qrcode-img img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.img,

iframe {
    width: 60%;
    height: auto;
    margin: 1.5rem auto;
    display: block;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
}

.icon {
    width: 4%;
    height: auto;
    margin: 1.5rem auto 0 auto;
    display: block;
    border-radius: 8px;
}

#whatsapp, #instagram, #facebook {
    cursor: pointer;
}

/* Cards de eventos */
.eventos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    
}

.card {
    flex: 1 1 16%;
    height: auto;
    background: var(--cor-primaria);
    color: var(--cor-fundo);
    padding: 1rem;
    border-radius: 8px;
    text-align: start;
    transition: transform 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 0.8rem;
    line-height: 1.4;
}

.card:hover {
    transform: translateY(-5px);
    transform: scale(1.09);
    
}
/* --------- Sacramentos --------- */
#Sacramentos {
   display: flex;
  flex-direction: column;
  align-items: stretch;         /* children ocupam largura disponível */
  justify-content: flex-start;  /* evita centralização vertical */
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
  min-height: auto;   
}
#Sacramentos .linha {
    display: flex;
    flex-direction: column; /* Garante que título, subtítulo e cards fiquem em coluna */
    justify-content: flex-start; /* Evita centralização vertical */
}
#Sacramentos h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: var(--cor-primaria);
}

#Sacramentos p {
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #333;
}

#Sacramentos .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

#Sacramentos .card {
    flex: 1 1 250px;
    max-width: 300px;
    background: var(--cor-primaria);
    color: #ffe1a8;
    padding: 1.5rem;
    border-radius: 10px;
     word-break: break-word;
    white-space: large;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#Sacramentos .card:hover {
    transform: translateY(-5px);
    
}

#Sacramentos .card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #ffe1a8;
}

#Sacramentos .card .valor {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #ffe1a8;
}

#Sacramentos .card .descricao {
    font-size: 1rem;
    line-height: 1.5;
    color: #f8f8f8;
}

/* Botões */
.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 20px;
    background: var(--cor-primaria);
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Hina Mincho', serif;
}

.btn:hover {
    background: #501717;
}

/* Tipografia */
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}
