@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
main#home{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(245, 210, 165);
    color: rgb(56, 11, 11);
    
}

section#HomePG2{
    display: relative;
    width: 100%;
    height: 100vh; 
    align-items: center;
text-align: center;
    background-color: rgb(56, 11, 11);;
    color: rgb(56, 11, 11);
    text-size-adjust: auto;
    
}
linkwebsite{
    display: inline-block;
    margin: 2%;
    padding: 2%;
    border: none;
    border-radius: 15%;
    background-color: #722222;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
margin-top: 22%;
}
img.img{
        display: flex;
    margin-left: 27%;
    margin-right: 5%;
    height: 40%;
    width: 45%;
    border: none;
    border-radius: 5%;
    align-self: center;
    
}

img#fachada{
margin-bottom: -10%;
}

iframe#Mapa{
    display: flex;
    margin-left: 27%;
    margin-right: 5%;
    height: 40%;
    width: 45%;
    border: none;
    border-radius: 5%;
    align-self: center;
    margin-bottom: -27.5%;
}


section#HomePG3{
    display: relative;
    width: 100%;
    height: 100vh; 
    align-items: center;
text-align: center;
    background-color: rgb(56, 11, 11);;
    color: rgb(56, 11, 11);
    text-size-adjust: auto;
}

iframe#video{
    display: flex;
    margin-left: 10%;
    margin-right: 5%;
    height: 50%;
    width: 80%;
    border: none;
    border-radius: 5%;
    align-self: center;
    background-color:#FFE1A8;
}

section#HomePG4{
    display: relative;
    width: 100%;
    height: 100vh; 
    align-items: center;
text-align: center;
    background-color: rgb(56, 11, 11);;
    color: rgb(56, 11, 11);
    text-size-adjust: auto;
}

article{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: 2%;
    padding: 2%;
    border: none;
    border-radius: 5%;
    background-color: #722222;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    color: white;
}

section#HomePG5{
       display: relative;
    width: 100%;
    height: 100vh; 
    align-items: center;
text-align: center;
    background-color: rgb(56, 11, 11);;
    color: rgb(56, 11, 11);
    text-size-adjust: 5rem;
}


#BoasVindas{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
    overflow: hidden;
    
}
#BoasVindas h1{
    font-size: 3em;
    z-index: 1;
    color: #FFE1A8;
    text-align: center;
    font-family: 'Hina Mincho', serif;
}
#SaoJudas{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    border-radius: 0%;
    filter: brightness(45%);  
}
div.linha{
    border-bottom: none;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 15%;
    background-color: #FFE1A8;
    padding-bottom: 5%;
}
div#linhaPG1{
    margin-top: 5%;
}
div#linhaPG5{
    margin-top: 2%;
}

button.botoes{
    display: inline-block;
    margin: 2%;
    padding: 2%;
    border: none;
    border-radius: 15%;
    background-color: #722222;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.3);
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

p{
    font-size: 1.5em;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.6;
}

h1{
    font-size: 3.0em;
    margin-bottom: 2%;
    font-family: 'Hina Mincho', serif;
}
