* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    position: sticky;  
    top: 0; 
    display: flex;
    z-index: 1000;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    padding: 5px 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  
}

img {
    width: 3rem;
}

header p {
    color: rgb(146, 15, 15);
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 15px;
    flex: 1; 
}

/* === NAV === */
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

header nav ul li {
    position: relative;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(146, 15, 15);
    padding: 8px 12px;
    display: block;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #e6a00b;
     box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
     border-radius: 10%;
}

/* === DROPDOWN === */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    min-width: 150px;
    border: none;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    z-index: 999;
    flex-direction: column;
    
}

@-webkit-keyframes scale-up-ver-top{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}
@keyframes scale-up-ver-top{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}
.dropdown-menu {-webkit-animation:scale-up-ver-top .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-ver-top .4s cubic-bezier(.39,.575,.565,1.000) both}

.dropdown-menu li a {
    padding: 10px;
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* === RESPONSIVIDADE === */
.menu-toggle {
    display: none;
}
.circle{
    display: flex;
    align-items: center;
}
@media(max-width: 768px) {
    header {
        flex-wrap: wrap;
        padding: 10px;
    }

    header nav {
        width: 100%;
        display: none;
    }

    header nav.active {
        display: block;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
        border-top: 1px solid #ddd;
        padding-top: 10px;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        border: none;
    }

    .menu-toggle {
        display: block;
        font-size: 2rem;
        cursor: po
    }
}